

.courseBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    position: relative;
}


.imgContainer {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.gradePicture {
    width: 80px;
    height: 80px;
    z-index: 5;
}

.textContainer{
    display: flex;
    flex-wrap: wrap;
    padding-right: 100px;
    z-index: 15;
}
.dueDate{
    background-color: rgba(228, 202, 73, 0.489);  /* Or any other color you'd like */
    font-weight: bold;
    padding: 1px;
    border-radius: 1px;
    z-index: 15;
    display: inline-block;
}

.courseBox--assignments{
    position: relative;
    cursor: pointer;
}

.gradeButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #642d72; /* Green background */
    color: white; /* White text */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .gradeButton:hover {
    background-color: #975fa5; /* Darker green on hover */
    text-decoration: none;
    cursor: pointer;
  }



